// Load my own custom font
$font-path:                 '../assets/fonts/';

// Load my own additional local icons (will overwrite the default icons)
$navigation-icon-path:      '../assets/icons/navigation/';
$expression-icon-path:      '../assets/icons/expression/';
$interaction-icon-path:     '../assets/icons/interaction/';
$scss-icon-path:            '../assets/icons/_scssOnly/';